/* AlbumCardSmall.module.css */

.container {
  display: flex;
  flex-direction: column;
}

.image {
  height: 63%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.infoContainer {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.title {
  font-weight: bold;
}

.iconContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.icon {
  font-size: 24px;
  color: red;
  cursor: pointer;
}
