.topbar {
    margin:20px 25px 0 25px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.Navbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #293858;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}
  
.iconbar {
    width:80%;
    display: flex;
    justify-content: space-between;
    margin: 15px auto 30px auto;
    padding: 0 10px;
    box-sizing: border-box;
    color:white;
}

.iconbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color:#797DC5;
    transition: transform 0.3s; /* 호버 시 부드러운 변환 효과를 위한 트랜지션 설정 */
}

.iconbtn:hover {
    transform: scale(1.1); /* 이미지를 1.1배 확대 */
}

.iconbtn img {
    width:30px
}

.sel_icon {
    color:white;
}