/* CardSmallContainer.module.css */

.container {
  height: 25vh;
  margin: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* If you'd like to hide the scrollbar for Webkit browsers as well */
::-webkit-scrollbar {
  display: none;
}
