.genrelist {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.genre {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: red;
    margin:5px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sel_genre {
    background-color: blue;
}

.btn {
    border: 1px solid white;
    width:40%;
    height: 50px;
    border-radius: 1rem;
    background-color: rgba(255, 203, 203, 0.5);
    color:white;
}