/* 폰트 정의 */
@font-face {
  font-family: 'CustomFont'; /* 폰트 이름 설정 */
  src: url('../public/fonts/GmarketSansTTFMedium.ttf') format('truetype'); /* TTF 파일 경로 설정 */
  /* 다른 폰트 속성 설정 (예: font-weight, font-style) */
}

body {
  margin: 0;
  font-family: 'CustomFont', sans-serif;;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  user-select: none;
}
