.container {
    height: 97vh;
}

.genrelist {
    width: 80%;
    margin: 10% auto;
}

.genre {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: red;
    margin:10px;
    cursor: pointer;
}

.sel_genre {
    background-color: blue;
}

.btn {
    border: 1px solid white;
    width:40%;
    height: 50px;
    border-radius: 1rem;
    background-color: rgba(255, 203, 203, 0.5);
    color:white;
}